
*.gba 
*.sav 
*.gba.7z
*.ups
*.sym
*.bak
*.sav
*.sgm
*.ss0
*.ss1
*.ss2
*.ss3
*.ss4
*.ss5
*.ss6
*.ss7
*.ss8
*.ss9
*.st0
*.st1
*.st2
*.st3
*.st4
*.st5
*.st6
*.st7
*.st8
*.st9

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
